uvicorn
Pillow
langchain
uvicorn
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain-openai
openai
pyyaml
tenacity
langgraph
fastapi
pydantic
python-dotenv
beautifulsoup4
requests
